.contactsList{
    background-color: var(--dark-main);
    height: 100%;
    padding: 2rem;
    margin: 0;
    list-style-type: none;
}

.contactsList a{
    color: rgb(255, 255, 255);
    text-decoration: none;

}