.contactsList{
    background-color: var(--dark-main);
    height: 100%;
    padding: 2rem;
    margin: 0;
    list-style-type: none;
}

.contactsList a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}


.findContacts{
    background-color: var(--dark-main);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    flex-direction: column;
    width: 200px;
    padding: 1rem;
}

.findContacts a{
    color: white;
}