.navbar{
    height: 100%;
    padding: 3rem;
    list-style-type: none;
    width: 5rem;
    background-color: var(--additional-color2);
}

.list{
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    align-items: center;
}

.list a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}


.icon{
    width: 2.5rem;
    filter: invert(100%) sepia(4%) saturate(7489%) hue-rotate(288deg) brightness(109%) contrast(91%);
}

.iconParent{
    position: relative;
}

.iconChild{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 1rem;
    background-color: var(--dark-main);
    color: white;
    border-radius: 2rem;
    padding: 1rem;
    display: inline;
    white-space: nowrap;
    transition: opacity 0.3s ease-in-out;
}

.iconParent:hover .iconChild{
    visibility: visible;
    opacity: 1;
}