.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 2rem;
    width: 100%;
}


.btn{
    text-decoration: none;
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    min-width: 5rem;
    font-size: 1.2rem;
    background-color: var(--main-color);
    color: white;
    transition: 0.3s ease background;
}

.btn:hover{
    background-color: var(--dark-main);
    cursor: pointer;
}


.name{
    display: flex;
    gap: 2rem;
}

.iconContainer{
    background-color: var(--additional-color3);
    border-radius: 50%;
    padding: 1rem;
}

.icon{
    width: 10rem;
}

.username{
    margin-top: 0;
    color: rgb(95, 94, 94);
}

.about{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.input{
    border-radius: 2rem;
    border: none;
    background-color: var(--additional-color3);
    padding: 0.5rem;
    min-width: 15rem;
}

.input:focus{
    outline: none;
    color: white;
    background-color: var(--main-color);
}

.input::placeholder{
    color: black;
}

.input:focus::placeholder{
    color: white;
}