.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    padding: 2rem;
    border-radius: 2rem;
}

.btn{
    text-decoration: none;
    padding: 1rem 0.5rem;
    border-radius: 2rem;
    background-color: var(--main-color);
    color: white;
}