:root{
    --main-color: #0804ff;
    --dark-main: #0a07be;
    --additional-color: rgb(227, 234, 254);
    --additional-color2: rgb(97, 97, 252);
    --additional-color3: rgb(185, 216, 243);
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.app-container{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.chat-container{
    display: flex;
}

#root{
    height: 100%;
}